p {
    color: red;
    font-family: oswald;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: start;
    line-height: 2;
    letter-spacing: 1px;
}

span {
    text-decoration: line-through;
    color: blue
}